footer {
  background-color: #bcaaa4;
  padding: 40px;
  color: #fff;
}

footer .container {
  max-width: 800px;
  margin: 0 auto;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}